<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="text-center">
                <!-- <h1>Astro Ganesh | Admin</h1><br> -->
                <h2>DASHBOARD</h2>
            </div>
            <section class="row flexbox-container justify-content-center">
                <div class="col-xl-8 col-11 d-flex justify-content-center">
                    <div class="card bg-authentication rounded-0 mb-2">
                        <div class="row m-0 img-container">
                            <div
                                class="col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0 circular-rotation">
                                <img src="../assets/images/login.png"
                                    class="w-100 img">
                            </div>
                            <div class="col-lg-6 col-12 p-0">
                                <div class="card rounded-0 mb-0 px-2">
                                    <div class="card-header pb-1">
                                        <div class="card-title">
                                            <h4 class="mb-0">Login</h4>
                                        </div>
                                    </div>
                                    <p class="px-2">Welcome back, please login
                                        to your account.</p>
                                    <div class="card-content">
                                        <div class="card-body pt-1">
                                            <form id="loginform"
                                                class="form-horizontal m-t-20"
                                                #f="ngForm" novalidate>
                                                <fieldset
                                                    class="form-label-group form-group position-relative has-icon-left">
                                                    <input trim="blur"
                                                        type="text"
                                                        placeholder="Email"
                                                        maxlength="50"
                                                        pattern="[a-zA-Z0-9]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zzA-Z.]{2,5}$"
                                                        class="form-control"
                                                        name="email"
                                                        [(ngModel)]="loginForm.email"
                                                        #email="ngModel"
                                                        required>
                                                    <div
                                                        class="form-control-position">
                                                        <i
                                                            class="feather icon-user"></i>
                                                    </div>

                                                    <label
                                                        for="user-name">Email</label>

                                                    <span
                                                        class="form-text small text-danger"
                                                        *ngIf="email.invalid && showError">
                                                        <span
                                                            class="form-text text-danger"
                                                            *ngIf="email.errors?.['required']">Email
                                                            is required</span>
                                                        <span
                                                            *ngIf="email.errors?.['pattern']">
                                                            Enter valid email
                                                            address.</span>
                                                    </span>
                                                </fieldset>

                                                <fieldset
                                                    class="form-label-group position-relative has-icon-left">
                                                    <input type="password"
                                                        placeholder="Password"
                                                        class="form-control"
                                                        name="password"
                                                        [(ngModel)]="loginForm.password"
                                                        #password="ngModel"
                                                        [type]="passwordTextType ? 'text' : 'password'"
                                                        required>
                                                    <div
                                                        class="form-control-position">
                                                        <i
                                                            class="feather icon-lock"></i>
                                                    </div>

                                                    <span
                                                        class="input-group-text cursor-pointer passEye"
                                                        (click)="togglePasswordTextType()">
                                                        <i
                                                            class="feather font-small-4"
                                                            [ngClass]="{
                                                            'icon-eye': passwordTextType,
                                                            'icon-eye-off': !passwordTextType
                                                            }"></i>
                                                    </span>

                                                    <label
                                                        for="user-password">Password</label>
                                                    <span
                                                        class="validation_error small text-danger"
                                                        *ngIf="showError && password.invalid">
                                                        <span
                                                            *ngIf="password.errors?.['required']">Password
                                                            is required</span>
                                                    </span>
                                                </fieldset>
                                                <div
                                                    class="form-group d-flex justify-content-end">

                                                    <div class="text-right"><a
                                                            routerLink="/auth/forgot-password"
                                                            class="card-link">Forgot
                                                            Password?</a></div>
                                                </div>
                                                <!-- <a href="auth-register.html" class="btn btn-outline-primary float-left btn-inline">Register</a> -->
                                                <div class="text-center">
                                                    <button type="submit"
                                                        class="btn btn-primary btn-inline"
                                                        (click)="onSubmit(f.form.invalid)"
                                                        class="btn btn-primary">
                                                        {{loading?'Please wait ...':'Login'}}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- END: Content-->