<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center">
                        <img src="../../../../assets/images/logo.png" class="logo" >
                    </div>
                </div>
                <div class="col-xl-10 col-md-10 col-10  justify-content-center align-items-center px-0">
                    <div class="card bg-authentication rounded-0 mb-2">
                        <div class="row m-0">
                            <div class="col-lg-6 d-lg-block d-none text-center bg-color align-self-center">
                                <img src="assets/images/pages/forgot-password.png" alt="branding logo">
                            </div>
                            <div class="col-lg-6 col-12 p-0">
                                <div class="card rounded-0 mb-0 px-2 py-1">
                                    <div class="card-header pb-1">
                                        <div class="card-title">
                                            <h4 class="mb-0">Forgot Password?</h4>
                                        </div>
                                    </div>
                                    <p class="px-2 mb-0">Enter your email and we'll send you instructions to reset your</p>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form id="loginform" class="form-horizontal m-t-20" #f="ngForm" novalidate>
                                                <div class="form-label-group">
                                                    <input trim="blur" type="text" placeholder="Email"
                                                    pattern="[a-zA-Z0-9]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zzA-Z.]{2,5}$" class="form-control"
                                                    name="email" [(ngModel)]="forgotForm.email" #email="ngModel" required>
                                                    <label for="inputEmail">Email</label>
                                                    
                                                    <div class="form-control-position">
                                                        <i class="feather icon-user"></i>
                                                    </div>
                                                    <label for="user-name">Email</label>

                                                    <span class="form-text small text-danger" *ngIf="email.invalid && showError">
                                                        <span class="form-text text-danger"
                                                        *ngIf="email.errors?.['required']">Email is
                                                        required</span>
                                                        <span *ngIf="email.errors?.['pattern']"> Enter valid email address.</span>
                                                    </span>
                                                </div>
                                            </form>
                                            <div class="float-md-left d-block mb-1">
                                                <a routerLink='/auth/login' routerLinkActive="router-link-active"  class="btn btn-outline-primary btn-block px-75">Back to Login</a>
                                            </div>
                                            <div class="float-md-right d-block mb-1">
                                                <button class="btn btn-primary btn-block px-75"(click)="onSubmit(f.form.invalid)"
                                                class="btn btn-primary">
                                                {{loading?'Please wait ...':'Send reset link'}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- END: Content-->