.app-content.content {
  min-height: calc(100% - 4rem);
  margin-left: 0 !important;
}

.bg-authentication {
  background-color: #eff2f7;
}
.bg-authentication .login-footer {
  padding: 0rem 1.5rem 0.5rem;
}
.bg-authentication .login-footer .footer-btn .btn {
  padding: 0.9rem 1.2rem !important;
  margin: 1rem 1rem 1rem 0rem;
}

.col-lg-6 .card.rounded-0 {
  padding: 60px 0;
}

.flexbox-container {
  height: 100vh;
}

.content-wrapper {
  margin-top: 0 !important;
  padding: 0 !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .bg-authentication {
    width: 100%;
  }
}

.logo {
  max-width: 250px;
  display: inline-block;
  margin-bottom: 50px;
}

.content-body {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
