<!-- Dashboard Ecommerce Starts -->
<section id="dashboard-ecommerce">
  <div class="row">
    <div class="col-lg-4 col">
      <div class="card">
        <div class="card-header d-flex flex-column align-items-start pb-0">
          <div class="avatar bg-rgba-primary p-50 m-0">
            <div class="avatar-content">
              <i class="feather icon-users text-primary font-medium-5"></i>
            </div>
          </div>
          <h2 class="text-bold-700">
            {{dashBoardList.totalUsers}}</h2>
          <p class="mb-0">Total User</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Dashboard Ecommerce End -->
