<router-outlet></router-outlet>
<div class="row" id="table-bordered">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header mb-2">
                All Users
                <a href="javascript:void(0)" routerLink="/admin/banner/add"
                    routerLinkActive="router-link-active"
                    class="btn btn-primary">
                    Add
                </a>
            </h5>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive mb-2">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th class="w-60">S.NO</th>
                                <th>Full Name</th>
                                <th>Mobile Number</th>
                                <th>Address</th>
                                <th>Birth Date</th>
                                <th>Gender</th>
                                <th>Landmark</th>
                                <th>Pincode</th>

                                <th class="w-85">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of bannerList; let i = index">
                                <td>{{ (page - 1) * 10 + i + 1 }}</td>
                                <td class="list-data">{{ item?.fullName || 'N/A'
                                    }}</td>
                                <td>{{ item?.mobileNumber || 'N/A' }}</td>
                                <td>{{ item?.address || 'N/A' }}</td>
                                <td>{{ item?.birthDate | date: 'yyyy-MM-dd' ||
                                    'N/A' }}</td>
                                <td>
                                    <span *ngIf="item?.gender === 1">Male</span>
                                    <span
                                        *ngIf="item?.gender === 2">Female</span>
                                </td>
                                <td>{{ item?.landMark || 'N/A' }}</td>
                                <td>{{ item?.pinCode || 'N/A' }}</td>

                                <td>
                                    <div container="body" ngbDropdown
                                        placement="bottom-right"
                                        class="d-inline-block">
                                        <button type="button"
                                            class="btn btn-flat-primary waves-effect waves-light"
                                            id="dropdownBasic2"
                                            ngbDropdownToggle>
                                            <i
                                                class="feather icon-more-vertical"></i>
                                        </button>
                                        <div ngbDropdownMenu
                                            aria-labelledby="dropdownBasic2">
                                            <a
                                                href="javascript:void(0)"
                                                routerLink="/admin/banner/edit/{{ item?.id }}"
                                                routerLinkActive="router-link-active"
                                                ngbDropdownItem>
                                                <i
                                                    class="feather icon-edit mr-50"></i><span>Edit</span>
                                            </a>
                                            <button *ngIf="item?.status === 1"
                                                (click)="activeBanner(item)"
                                                ngbDropdownItem>
                                                <i
                                                    class="feather icon-user-check mr-50"></i><span>Active</span>
                                            </button>
                                            <button *ngIf="item?.status === 0"
                                                (click)="deactiveBanner(item)"
                                                ngbDropdownItem>
                                                <i
                                                    class="feather icon-user-x mr-50"></i><span>Inactive</span>
                                            </button>
                                            <button (click)="deleteBanner(item)"
                                                ngbDropdownItem>
                                                <i
                                                    class="feather icon-trash-2 mr-50"></i><span>Permanent
                                                    Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="!bannerList || bannerList.length === 0">
                                <td colspan="13" class="text-center">No record
                                    found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <ngb-pagination
                    *ngIf="bannerListLength.length !== 0 && apiCalled"
                    [collectionSize]="bannerList.total"
                    [(page)]="page"
                    [maxSize]="10"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="refreshList(page, '')">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
