.menu-shadow {
    &.expanded {
      .navbar-brand {
        img {
          max-height: 40px;
        }
      }
    }
    .navbar-brand {
      img {
        max-height: 40px;
        max-height: 16px;
        transition: all .2s ease-in-out;
      }
    }
  }

  .nav .modern-nav-toggle {
    padding: 33px 0;
}
  
  .main-menu.menu-light {
    .navigation {
      & > li {
        & > a {
          &.active-link {
            // background : -webkit-linear-gradient(332deg, #7367F0, rgba(115, 103, 240, 0.7));
            // background :         linear-gradient(118deg, #7367F0, rgba(115, 103, 240, 0.7));
            background-color: #030835;
            // box-shadow : 0 0 10px 1px rgba(3, 8, 53, 0.7);
            color : #FFFFFF;
            font-weight : 400;
            border-radius : 4px;
          }
        }
      }
    }
  }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 1.1rem;
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 10px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out;
  }
  
  // .vertical-layout.vertical-menu-modern {
  //   .main-menu {
  //     &.hide{
  //       width: 80px !important;
  //     }
  //     &:hover{
  //       width: 260px !important;
  //     }
  //   }
  // }
  
  .main-menu {
    &.hide{
      width: 74px!important;

      .navbar-header{
        width: 74px!important;
        min-height: 85px;
      }
      li{
        &:first-child{
          display: none;
        }
      }
      .navbar-brand{
        img{
          max-height: 15px;
        }
      }
    }
    // &:hover{
    //   width: 260px !important;
    //   .navbar-brand{
    //     img{
    //       max-height: 40px;
    //       display: block;
    //     }
    //   }
    // }
  }
  
  .main-menu.menu-light .navigation li a{
    padding: 10px 15px 10px 12px;
  }
  