<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center">
                        <img src="../../../../assets/images/logo.png" class="logo">
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-center align-items-center px-0">
                    <div class="card bg-authentication rounded-0 mb-2 w-100">
                        <div class="row m-0">
                            <div class="col-lg-6 d-lg-block d-none text-center align-self-center">
                                <img src="assets/images/pages/reset-password.png" alt="branding logo">
                            </div>
                            <div class="col-lg-6 col-12 p-0">
                                <div class="card rounded-0 mb-0 px-2 py-1">
                                    <div class="card-header pb-1">
                                        <div class="card-title">
                                            <h4 class="mb-0">Reset Password</h4>
                                        </div>
                                    </div>
                                    <p class="px-2 mb-0">Please enter your new password.</p>
                                    <div class="card-content">
                                        <form [formGroup]="resetForm" (ngSubmit)="changePassword()">
                                            <div class="card-body">
                                            
                                                <div class="form-group mb-3">

                                                    <div class="form-label-group">

                                                        <input type="password" minlength="8" maxlength="16"
                                                            [type]="passwordTextType ? 'text' : 'password'"
                                                            class="form-control" formControlName="password"
                                                            name="password" required>

                                                        <label for="inputEmail"> Password</label>

                                                        <div class="form-control-position">
                                                            <i class="feather icon-lock"></i>
                                                        </div>

                                                        <span class="input-group-text cursor-pointer passEye"
                                                            (click)="togglePasswordTextType()">
                                                            <i class="feather font-small-4" [ngClass]="{
                                                            'icon-eye': passwordTextType,
                                                            'icon-eye-off': !passwordTextType
                                                            }"></i>
                                                        </span>
                                                        <label for="user-name"> Password</label>

                                                        <div class="small text-danger"
                                                            *ngIf="loading && f['password'].errors">
                                                            <div *ngIf="loading && f['password'].errors['required']">
                                                                New password is required
                                                            </div>
                                                            <div *ngIf="loading && f['password'].errors['pattern']">
                                                                Password at least 8 characters in length.<br />
                                                                Lowercase letters (a-z)<br />
                                                                Uppercase letters (A-Z)<br />
                                                                Numbers (0-9)<br />
                                                                Special characters ($@$!%*?&) <br />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group mb-3">
                                                    <div class="form-label-group">

                                                        <input type="password" minlength="8" maxlength="16"
                                                            [type]="confPasswordTextType ? 'text' : 'password'"
                                                            class="form-control" formControlName="confirmPassword"
                                                            name="confirmPassword" required>


                                                        <label for="inputEmail"> Confirm Password</label>

                                                        <div class="form-control-position">
                                                            <i class="feather icon-lock"></i>
                                                        </div>

                                                        <span class="input-group-text cursor-pointer passEye"
                                                            (click)="toggleConfPasswordTextType()">
                                                            <i class="feather font-small-4" [ngClass]="{
                                                            'icon-eye': confPasswordTextType,
                                                            'icon-eye-off': !confPasswordTextType
                                                            }"></i>
                                                        </span>
                                                        <label for="user-name">Confirm Password</label>

                                                        <div class="small text-danger"
                                                            *ngIf="loading && f['confirmPassword'].errors">
                                                            <div
                                                                *ngIf="loading && f['confirmPassword'].errors['required']">
                                                                Confirm password is required
                                                            </div>
                                                            <div
                                                                *ngIf="loading && f['confirmPassword'].errors.ConfirmPasswordValidator">
                                                                Password and Confirm Password must be match.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="float-md-left d-block mb-1">
                                                    <a routerLink='/admin/auth/login' routerLinkActive="router-link-active"
                                                        class="btn btn-outline-primary btn-block px-75">Back to Login</a>
                                                </div>
                                                <div class="float-md-right d-block mb-1">
                                                    <button class="btn btn-primary btn-block px-75" class="btn btn-primary">
                                                        Set New Password</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- END: Content-->